<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.ncg.cityvendorappsuite" >

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
    <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyC919ZXpScGNnZD0QLgNM_oKDPFUaXnnFQ" />

 <!--   <permission
        android:name="com.application.LICENSE_TO_KILL"
        android:label="Licenced to Kill"
        android:protectionLevel="dangerous" />

   <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- api key -->
    <!-- - AIzaSyC919ZXpScGNnZD0QLgNM_oKDPFUaXnnFQ -->


    <application
        android:allowBackup="true"
        android:label="@string/app_name" >
        <activity
            android:name=".VendorActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
     <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

     </activity>

        <provider
            android:name=".providers.VendorsContentProvider"
            android:authorities="com.application.ncg.cityvendorappsuite.providers"
            android:enabled="true"
            android:exported="true"
            android:permission="com.application.LICENSE_TO_KILL" />

        <activity
            android:name=".MapActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".VendorMapActivity"
            android:label="@string/app_name"></activity>

        <activity android:name=".VendorCardView"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>

        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

    </application>

</manifest>
